
@{
    ViewBag.Title = "Index";
}

<h2>Página de Celulares</h2>
<ul>
    <li class="btn btn-outline-success">@Html.ActionLink("Menu Inicial", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
    <li class="btn btn-success">@Html.ActionLink("Lista de Celulares", "Listar", "Celular", new { area = "" }, new { @class = "nav-link" })</li>
</ul>