
@{
    ViewBag.Title = "Index";
}

<h2>Página de alunos</h2>
<ul>
    <li class="btn btn-outline-success">@Html.ActionLink("Menu Inicial", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
    <li class="btn btn-success">@Html.ActionLink("Lista de Alunos", "Listar", "Aluno", new { area = "" }, new { @class = "nav-link" })</li>
</ul>

