@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Contato</h2>
    <h3>Entre em contato por</h3>

    <address>
        <abbr title="Phone">Telefone:</abbr>
        (15)998422596
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:salesrui1@gmail.com">salesrui1@gmail.com</a><br />
    </address>
</main>